---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Posts | kotek のホームページ" >
  <main class="mt-16 grid gap-10">
    <div class="grid gap-5">
      <p
        class="font-heading text-sm font-bold uppercase tracking-[0.18em] text-secondary"
      >
        posts
      </p>
      <h1 class="max-w-4xl text-5xl">投稿</h1>
    </div>

    <div class="grid gap-5">
      <p class="max-w-2xl">
        ここでは、私がこれまでに書いたブログ記事や技術的な投稿を紹介します。新しい技術の解説や、プロジェクトの進捗報告など、様々な内容を掲載しています。
      </p>
    </div>

    <section class="grid gap-5">
      <h2 class="text-3xl">実装中……</h2>
    </section>
</Layout>
