---
import Layout from "../../layouts/Layout.astro";
import Tag from "../../components/Tag.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("posts")).sort(
  (a, b) => b.data.pubDate.getTime() - a.data.pubDate.getTime(),
);
---

<Layout
  title="Posts | kotek のホームページ"
  description="ブログ記事や技術投稿を掲載しています。"
>
  <main class="mt-16 grid gap-10">
    <div class="grid gap-5">
      <p
        class="font-heading text-sm font-bold uppercase tracking-[0.18em] text-accent"
      >
        posts
      </p>
      <h1 class="max-w-4xl text-5xl">投稿</h1>
    </div>

    <div class="grid gap-5">
      <p class="max-w-2xl">
        ブログ記事です。
      </p>
    </div>

    <section class="grid gap-5">
      {
        posts.length > 0 ? (
          <ul class="grid gap-4 list-none pl-0">
            {posts.map((post) => (
              <a href={`/posts/${post.id}`}>
                <li class="px-4 md:px-8 py-4 grid gap-1 border border-primary/35 hover:bg-primary/5 transition">
                  <p class="text-sm text-primary/70">
                    投稿日: {post.data.pubDate.toLocaleDateString("ja-JP")}
                  </p>
                  <p class="text-lg font-bold text-primary mt-1">
                    {post.data.title}
                  </p>
                  <p>{post.data.description}</p>
                  <p class="flex gap-2 mt-2">
                    {post.data.tags?.map((tag) => (
                      <Tag name={tag} />
                    ))}
                  </p>
                </li>
              </a>
            ))}
          </ul>
        ) : (
          <p>まだ投稿がありません。</p>
        )
      }
    </section>

    <div class="h-80"></div>
  </main>
</Layout>
