@font-face {
  font-family: "Jost";
  src: url("/fonts/jost-regular.183d022490.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  src: url("/fonts/jost-bold.ae37bf73ef.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Material Symbols Outlined";
  src: url("/fonts/material-symbols-outlined.aaddf38c4b.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
