---
import Layout from "../layouts/Layout.astro";
import A from "../components/A.astro";
---

<Layout title="Activities | kotek のホームページ" description="こんな活動をしています。" >
  <main class="mt-16 grid gap-10">
    <div class="grid gap-5">
      <p
        class="font-heading text-sm font-bold uppercase tracking-[0.18em] text-accent"
      >
        activities
      </p>
      <h1 class="max-w-4xl text-5xl">活動</h1>
    </div>

    <div class="grid gap-5">
      <p>
        過去に関わったイベントやプロジェクトです。ハッカソンとロボコンを中心に活動しています。
      </p>
    </div>

    <section class="grid gap-5">
      <h2 class="text-3xl">ハッカソン</h2>
      <ul>
        <li>
          2024/06 - <A href="https://www.craftstadium.com/hackathon/RR240629"
            >Live Excitement Products Hackathon</A
          > 出場
        </li>
        <li>
          2024/07 - <A
            href="https://x.com/du_doer/status/1797608636015120459?s=20"
            >DO-HACK 2024 (Do'er 部内ハッカソン)</A
          > 優勝
        </li>
        <li>
          2025/06 - <A href="https://x.com/geek_pjt/status/1931645340287115649"
            >技育CAMP Vol.4 努力賞</A
          >
        </li>
        <li>
          2025/07 - <A href="https://techseeker.jp/hackathon2025/"
            >テックシーカー2025</A
          > メンター参加
        </li>
        <li>
          2025/08 - <A
            href="https://www.craftstadium.com/hackathon/kansai-beginners-hackathon-vol6-aha-moment"
            >関西ビギナーズハッカソンvol.6</A
          > 準優勝
        </li>
        <li>2025/08 - DO-HACK 2025 (Do'er 部内ハッカソン) 開催</li>
        <li>
          2025/12 - <A
            href="https://www.craftstadium.com/hackathon/kyoto-plateau-hack-2025"
            >KYOTO PLATEAU HACK 2025</A
          > 優勝
        </li>
        <li>
          2026/02 - <A
            href="https://www.craftstadium.com/hackathon/ddashhacks-2025"
            >DDASH Hacks</A
          > 準優勝
        </li>
      </ul>
    </section>

    <section class="grid gap-5">
      <h2 class="text-3xl">ロボコン</h2>
      <ul>
        <li>
          2025/03 - <A
            href="https://kansai-harurobo.org/kansai_harurobocon/history/kansaiharurobo2025/"
            >関西春ロボコン2025</A
          >
        </li>
        <li>
          2025/09 - <A href="https://catchrobo.net/history/202515.php"
            >キャチロボバトルコンテスト2025</A
          >
        </li>
        <li>
          2026/09 - <A href="https://catchrobo.net/"
            >キャチロボバトルコンテスト2026</A
          >
        </li>
      </ul>
    </section>

    <section class="grid gap-5">
      <h2 class="text-3xl">登壇</h2>
      <ul>
        <li>
          2024/10 - Do'er LT <A
            href="https://docs.google.com/presentation/d/1T-VbdBqJAh40qLfE8g13Br48HU-j_1pJIg_vM_yHA5Q/edit?usp=sharing"
            >「コールバック関数を完全に理解する」</A
          >
        </li>
        <li>
          2025/06 - STARUP 社内LT <A
            href="https://docs.google.com/presentation/d/1GGFFpSj9d1VsKG7rI3p4ZATLwTbD5x18aaxeu9g5hr0/edit?usp=sharing"
            >「良い設計と悪い設計」</A
          >
        </li>
        <li>
          2025/09 - Do'er LT <A
            href="https://docs.google.com/presentation/d/1MrUgQinsSboxgkkvCbDn4LQDbhxo31RjAOYGEl9bvII/edit?usp=sharing"
            >「TechSeeker 気になる技術 Gemini で物体検出をしよう！」</A
          >
        </li>
        <li>
          2025/09 - Do'er LT <A
            href="https://docs.google.com/presentation/d/1rM0ECQgABf6Qdra8esKf4SDqGAcCxNkvIya2-BHDuuA/edit?usp=sharing"
            >「関西ビギナーズハッカソンで作ったもの WebSocket + Redis
            で対戦ゲーム！」
          </A>
        </li>
        <li>
          2025/10 - STARUP 社内LT <A
            href="https://docs.google.com/presentation/d/1Yt8EkpVL_8EJXpAwdZnf0E0XHlo8dPW27T-AXa4g_q8/edit?usp=sharing"
            >「FSD の良いところ！ FSD の活用と改善案」
          </A>
        </li>
        <li>
          2025/11 - TeckHack カンファレンス/STARUP 社内LT
          <A href="https://talks.kotek7.com/2025/functional-programming/">
            「オブジェクト指向の限界と関数型プログラミングの可能性 なぜ今 Rust
            が注目されるのか？ そして TypeScript
            で関数型プログラミングを実践する方法」</A
          >
        </li>
        <li>
          2026/01 - クローバー祭 <A
            href="https://talks.kotek7.com/2025/rits-clover-fes/"
            >「Can you use CAN? CAN 通信の極意 DRC で使われる CAN
            通信技術の紹介」</A
          >
        </li>
        <li>
          2026/01 - STARUP 社内LT <A
            href="https://docs.google.com/presentation/d/19DysTYSfNMHdu8Nabf-thMPb090a-svBlq1auHNL4hI/edit?usp=sharing"
            >「Tailwind の哲学 なぜ今 Tailwind CSS が流行なのか？Tailwindで学ぶ
            DDD と DRY原則」</A
          >
        </li>
        <li>
          2026/02 - Hackathon Meetup #05<A
            href="https://docs.google.com/presentation/d/1LVFGJf3SBqqIrPF6pumSww24tzm7Rdfs_GYS8b-bbeQ/edit?usp=sharing"
          >
            「記憶に焼きつくプレゼンを ハッカソンで勝つためのプレゼン術」
          </A>
        </li>
        <li>
          2026/02 - KC3 Meet! Vol.05 <A
            href="https://canva.link/typtkpegzikpg2g"
            >「SOLID原則の“L”はいらない？ SOLID原則の“L”とモダンプログラミング」</A
          >
        </li>
        <li>2026/05 - Do'er Web アプリ開発入門第1回 <A href="https://canva.link/x-handson">「X作ってみようの会」</A></li>
      </ul>
    </section>

    <div class="h-80"></div>
  </main>
</Layout>
